{% extends "base.html" %}
{% block title %}Einstellungen{% endblock %}
{% block nav %}
    <div class="w3-panel w3-bar w3-light-grey">
        <h1>Beregnungsanlage TSG Stadtbergen 1982</h1>
        <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Manuell</a>
        <a href="{{ url_for('newjob') }}" class="w3-bar-item w3-button">Neuer Auftrag</a>
        <a href="{{ url_for('jobs') }}" class="w3-bar-item w3-button">Bestehende Aufträge</a>
        <a href="{{ url_for('settings') }}" class="w3-bar-item w3-button w3-red">Einstellungen</a>
    </div>
    <div class="w3-panel w3-bar w3-light-grey">
        <a href="{{ url_for('settings') }}" class="w3-bar-item w3-button">Einstellungen</a>
        <a href="{{ url_for('setdatetime') }}" class="w3-bar-item w3-button w3-red">Datum/Uhrzeit</a>
    </div>
{% endblock %}
{% block content %}

    <form action="" method="post" novalidate> 
        {{ form_setdatetime.hidden_tag() }}
        <div class="w3-panel w3-padding-small"> 
        <!-- <h1 title="Hier kann man Datum und Uhrzeit ändern"></h1> -->
        </div>

        <div class="w3-container w3-border w3-padding w3-round w3-margin">
        <table class="w3-table w3-striped w3-responsive">
        <!-- Datum-Eingabe -->
        <tr>
            <th>            
                <input class="w3-input w3-border w3-hover-light-grey" type="date" name="date_new" style="width:100%" max="2220-12-31" min="2000-01-01" value={{datum}}>
                {% for error in form_setdatetime.date_new.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
            <th>
                <h3>Aktuelles Datum</h3>
            </th>
        </tr>
        <!-- Uhrzeit-Eingabe -->
        <tr>
            <th>
                <input class="w3-input w3-border w3-hover-light-grey" type="time" name="time_new" style="width:100%" value={{uhrzeit}} step="1">
                {% for error in form_setdatetime.time_new.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
            <th>
                <h3>Aktuelle Uhrzeit</h3>
            </th>
        </tr>
        </table>

        <div class="w3-padding">
            <input type="submit" class="btn" name="submitdatetime" value="OK">
        </div>
        </div>

    </form> 
{% endblock %}
