<!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xi-facelift -->

<!doctype html>
<html lang="en">

<head>

{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>Default title</title>
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/signup.css" rel="stylesheet">
<link href="static/css/flatpickr.min.css" rel="stylesheet">
<!--
<link href="static/css/tempus-dominus.min.css" rel="stylesheet" crossorigin="anonymous">
-->

<script src="static/js/signUp.js"></script>

<!-- bootstrap.bundle.min.js contains popper.js, needed e.g. for 
     dropdown menus, tempus-dominus
-->

<!-- <script src="static/js/bootstrap.min.js"></script> -->

<script src="static/js/bootstrap.bundle.min.js"></script>

<!--
<script src="static/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
-->

<script src="static/js/flatpickr.min.js""></script> 

<!--
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
-->

<style>
/* https://mdbootstrap.com/how-to/bootstrap/checkbox-size */
.checkbox-lg .form-check-input{
 top: .8rem;
 scale: 1.4;
 margin-right: 0.7rem;
 }

.checkbox-lg .form-check-label {
 padding-top: 13px;
 }

.checkbox-xl .form-check-input {
 top: 1.2rem;
 scale: 1.7;
 margin-right: 0.8rem;
 }

.checkbox-xl .form-check-label {
 padding-top: 7px;
 }


/* job table */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table */
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  /* font-family: sans-serif; */
  font-size: 16px;  /* 0.8rem; */
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align:center;
}


/* Smartphone buttons behave different from desktop buttons! 
   My solution tries to have the same colors for states "hover" and
   "focus". The thirs state "active" is not so clear at the moment.
   The default Bootstrap blue seems to be #0d6efd;

   https://getbootstrap.com/docs/5.2/utilities/colors/
*/

/* hover before active ! */
.btn.btn-primary:hover { 
    background-color: #0d6efd; /* blue; */ 
    border-color: #0d6efd;  /* blue; */ 
    color: white; /* button text */
    opacity: 0.8 
}
.btn.btn-outline-primary:hover { 
    background-color: #e9ecef;  /* gray-200, lightgray; */ 
    border-color: #0d6efd;  /* blue */
    color: #0d6efd;  /* button text blue */    
    opacity: 0.8 
}
.btn.btn-primary:active { 
    background-color: lightgreen; 
    opacity: 0.8 
}
.btn.btn-outline-primary:active { 
    background-color: #e9ecef;  /* gray-200 */ 
    opacity: 0.8
}
/* focus ist wie hover */
.btn.btn-primary:focus { 
    background-color: #0d6efd;  /* blue; */ 
    border-color: #0d6efd;  /* blue; */ 
    color: white; /* button text */
    opacity: 0.8 
}
.btn.btn-outline-primary:focus { 
    background-color: #e9ecef; /* gray-200 lightgray; */
    border-color: #0d6efd;  /* blue; */ 
    color: #0d6efd;  /* blue; */  /* button text */    
    opacity: 0.8 
}

</style>

</head>

<body>

<div class="container mt-3"> 

<p>

{% block nav %}
    <div class="panel" style="">
        <div class="panel-heading">
        <h2 class="panel-title btn btn-primary disabled">Beregnungsanlage TSG Stadtbergen</h2>
        </div>
        <div class="panel-body">
        <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Home</a>
        <a href="{{ url_for('man') }}" class="btn btn-outline-primary">Manuelle Beregnung</a>
        <a href="{{ url_for('jobs') }}" class="btn btn-outline-primary">Aufträge anzeigen/ändern/löschen</a>
        <a href="{{ url_for('job') }}" class="btn btn-outline-primary">Auftrag erstellen</a>
        <a href="{{ url_for('set') }}" class="btn btn-outline-primary">Einstellungen</a>
        </div>
    </div>
{% endblock %}

<p>

{% block content %}base.html: container content{% endblock %}

</div> 


</body>
</html>
