<!-- index.html -->

{% extends "base.html" %}

{% block content %}

<p><br>


<h3>Tsgrain Beregnungssteuerung</h3>

<p><br>

Web: <a href="https://hhoegl.de/tsgrain">https://hhoegl.de/tsgrain</a>

<br>

Kontakt: <a href= "mailto:Hubert.Hoegl@t-online.de">Hubert.Hoegl@t-online.de</a>

<br>

März 2024

{% endblock %}



