<!-- job.html -->

<!-- https://getbootstrap.com/docs/5.2/components/buttons/ -->
<!-- https://getbootstrap.com/docs/5.2/forms/checks-radios/#checkbox-toggle-buttons -->
<!-- https://stackoverflow.com/questions/26736587/how-to-add-and-remove-classes-in-javascript-without-jquery -->

{% extends "base.html" %}

{% block content %}

{% if job_id %}

<h1>Auftrag {{ job_id }} ändern </h1>

{% else %}

<h1>Auftrag erstellen</h1>

{% endif %}

<p><br>

<h2>Platzauswahl</h2>

<p><p>

<form id="job_form" action="" method="POST" novalidate>
     {{ job_form.csrf_token }}


<div class="form-group">

    <!-- ZoneButtonField -->
    {{ job_form.z1(id="z1", type="button") }}
    {{ job_form.z2(id="z2", type="button") }}
    {{ job_form.z3(id="z3", type="button") }}
    {{ job_form.z4(id="z4", type="button") }}
    {{ job_form.z5(id="z5", type="button") }}
    {{ job_form.z6(id="z6", type="button") }}
    {{ job_form.z7(id="z7", type="button") }}


   <!-- XXX TODO: check that at least one zone is selected. If not set
   class_str to 'form-control is-invalid'  
   -->
   {% set class_str = 'form-control is-invalid' if job_form.z1.errors else 'form-control' %}

   <!--ZoneButtonField is not transmitted on POST request (type="button"). 
       Therefore we have type="hidden" fields. Value is set via JavaScript  
       Seems not to be possible to set value directly by e.g. value="on".   
       Maybe use <input type="text" style="display: none" ...
       JavaScript code below initializes all values to corresponding
       button values.
   -->
   <input class="{{class_str}}" type="hidden" id="z1-hidden-id" name="z1" value="" >
   <input class="{{class_str}}" type="hidden" id="z2-hidden-id" name="z2" value="" >
   <input class="{{class_str}}" type="hidden" id="z3-hidden-id" name="z3" value="" >
   <input class="{{class_str}}" type="hidden" id="z4-hidden-id" name="z4" value="" >
   <input class="{{class_str}}" type="hidden" id="z5-hidden-id" name="z5" value="" >
   <input class="{{class_str}}" type="hidden" id="z6-hidden-id" name="z6" value="" >
   <input class="{{class_str}}" type="hidden" id="z7-hidden-id" name="z7" value="" >

   <!-- only visible if input field has class 'form-control is-invalid' -->
   <div class="invalid-feedback"> 
        {{ job_form.z1.errors[0] }} 
   </div> 

</div>

<br><br>

<div class="form-group">

   <!--
   job_form.zone_set_all(id="zone_set_all", type="button", class="btn btn-outline-primary", onclick="click_zone_set_all()") 
   job_form.zone_clear_all(id="zone_clear_all", type="button", class="btn btn-outline-primary", onclick="click_zone_clear_all()") 
   -->

   <button class="btn btn-outline-primary" id="zone_set_all" name="zone_set_all" 
           onclick="click_zone_set_all()" type="button" value="">alle setzen</button>

   <button class="btn btn-outline-primary" id="zone_clear_all" name="zone_clear_all" 
           onclick="click_zone_clear_all()" type="button" value="">alle löschen</button>

</div>

<br><br>

<h2>Dauer (Minuten)</h2>


<br>

<div class="form-group">

<input name="duration" type="number" id="duration" class="form-control" 
    min="1" max="120" value="{{job_form.duration.data}}" >

</div>


<br><br>


<h2>Ab Datum / Uhrzeit</h2>

<p><p>

<div class="form-group">

   {% set err_class = 'form-control is-invalid' if job_form.date_time_start.errors else 'form-control' %}


   {% if not job_form.date_time_start.data %} 
  
   <input name="date_time_start" class="{{err_class}}" type="text" placeholder="Datum / Uhrzeit" 
      id="datepicker" data-enable-time="true" data-date-format="Y-m-d H:i" >

   {% else %}

   <input name="date_time_start" class="{{err_class}}" type="text" placeholder="Datum / Uhrzeit" 
      id="datepicker" data-enable-time="true" data-date-format="Y-m-d H:i" value="{{job_form.date_time_start.data}}" >
  
   {% endif %}

   {% if job_form.date_time_start.errors %}
   <div class="invalid-feedback"> 
        {{ job_form.date_time_start.errors[0] }}
   </div> 
   {% endif %}

</div>


<br><br>



<div class="form-group form-check checkbox-xl">

  <!-- Durch value=False erscheint das Attribut "value" nicht im gerenderten Output. Falls value="" 
       gesetzt ist kann man nicht feststellen, ob checkbox aktiv ist. 

       checked=True, damit hat der Knopf einen Haken.

       checkbox is sent via POST request    
  -->
  {{ job_form.repeat(checked=False, id="checkbox-2", type="checkbox", class="form-check-input", value=False) }}

  <label class="form-check-label" for="checkbox-2">Wiederholen</label>

</div>

<p><br>

<div class="form-group form-check checkbox-xl">

  {{ job_form.enable(checked=False, id="checkbox-3", type="checkbox", class="form-check-input", value=False) }}

  <label class="form-check-label" for="checkbox-3">Aktiv</label>

</div>


<br><br>


<h2>An Wochentagen</h2>

<br>

<div class="form-group">

  {{ job_form.w_mo(id="w_mo", type="button") }}  
  {{ job_form.w_di(id="w_di", type="button") }}  
  {{ job_form.w_mi(id="w_mi", type="button") }}  
  {{ job_form.w_do(id="w_do", type="button") }}  
  {{ job_form.w_fr(id="w_fr", type="button") }}  
  {{ job_form.w_sa(id="w_sa", type="button") }}  
  {{ job_form.w_so(id="w_so", type="button") }}  

  {% set class_str = 'form-control is-invalid' if job_form.w_mo.errors else 'form-control' %}

  <!-- JavaScript code below initializes all values to corresponding
       button values -->
  <input class="{{class_str}}" type="hidden" id="w_mo-hidden-id" name="w_mo" value="" >
  <input class="{{class_str}}" type="hidden" id="w_di-hidden-id" name="w_di" value="" >
  <input class="{{class_str}}" type="hidden" id="w_mi-hidden-id" name="w_mi" value="" >
  <input class="{{class_str}}" type="hidden" id="w_do-hidden-id" name="w_do" value="" >
  <input class="{{class_str}}" type="hidden" id="w_fr-hidden-id" name="w_fr" value="" >
  <input class="{{class_str}}" type="hidden" id="w_sa-hidden-id" name="w_sa" value="" >
  <input class="{{class_str}}" type="hidden" id="w_so-hidden-id" name="w_so" value="" >

  <div class="invalid-feedback"> 
        {{ job_form.w_mo.errors[0] }} 
  </div> 

</div>

<br><br>


<div class="form-group">
   <button class="btn btn-outline-primary" id="wday_set_all" name="wday_set_all" 
           onclick="click_wday_set_all()" type="button" value="">alle setzen</button>

   <button class="btn btn-outline-primary" id="wday_clear_all" name="wday_clear_all" 
           onclick="click_wday_clear_all()" type="button" value="">alle löschen</button>
</div>


<br><br>


<h2>Ausser an folgenden Tagen</h2>

<br>

<ol>

<li>

   {% if job_form.except_day_1.data %} 

   <input name="except_day_1" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_1.data}}">

   {% else %}

   <input name="except_day_1" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" >

   {% endif %}
  

<li>
   {% if job_form.except_day_2.data %} 

   <input name="except_day_2" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_2.data}}">

   {% else %}

   <input name="except_day_2" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}


<li>
   {% if job_form.except_day_3.data %} 

   <input name="except_day_3" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_3.data}}">

   {% else %}
   <input name="except_day_3" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}



<li>
   {% if job_form.except_day_4.data %} 
   <input name="except_day_4" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_4.data}}">

   {% else %}
   <input name="except_day_4" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}




<li>
   {% if job_form.except_day_5.data %} 
   <input name="except_day_5" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_5.data}}">

   {% else %}
   <input name="except_day_5" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}




<li>
   {% if job_form.except_day_6.data %} 
   <input name="except_day_6" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_6.data}}">

   {% else %}
   <input name="except_day_6" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}




<li>
   {% if job_form.except_day_7.data %} 
   <input name="except_day_7" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_7.data}}">

   {% else %}
   <input name="except_day_7" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}




<li>
   {% if job_form.except_day_8.data %} 
   <input name="except_day_8" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_8.data}}">

   {% else %}
   <input name="except_day_8" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}



<li>
   {% if job_form.except_day_9.data %} 
   <input name="except_day_9" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_9.data}}">

   {% else %}
   <input name="except_day_9" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}



<li>
   {% if job_form.except_day_10.data %} 
   <input name="except_day_10" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d" value="{{job_form.except_day_10.data}}">

   {% else %}
   <input name="except_day_10" class="form-control" type="text" placeholder="Datum" 
      id="datepicker" data-date-format="Y-m-d">

   {% endif %}


</ol>


<br><br>


<h2>Abschicken</h2>

<div>
    <input type="submit" class="btn btn-outline-primary" name=submit value="Los">
</div>

</form>


<script>
/*  XXX could be wrapped in "when page has loaded":
    window.addEventListener("load", ...)
    Make sure that you are performing this assignment after the DOM has been
    fully loaded, for example in the window.load event.
*/

const fp = flatpickr('#datepicker', {time_24hr: true });

const zone_button_dict = {
    "z1": {'obj': document.getElementById("z1")},
    "z2": {'obj': document.getElementById("z2")},
    "z3": {'obj': document.getElementById("z3")},
    "z4": {'obj': document.getElementById("z4")},
    "z5": {'obj': document.getElementById("z5")},
    "z6": {'obj': document.getElementById("z6")},
    "z7": {'obj': document.getElementById("z7")},
}

/* Initialize hidden fields with button value */ 

var zone_buttons = document.querySelectorAll('.zone_btn');
zone_buttons.forEach(btn => {
    // console.log("add btnhdl:->", btn);
    btn.addEventListener('click', zbtn_hdl)
    hidden_field_id = btn.id + '-hidden-id'
    // Initialize hidden field with button value
    bval = btn.getAttribute('value')
    document.getElementById(hidden_field_id).setAttribute('value', bval);

})


var wday_buttons = document.querySelectorAll('.wday_btn');
wday_buttons.forEach(btn => {
    console.log("->", btn);
    btn.addEventListener('click', wday_hdl)
    hidden_field_id = btn.id + '-hidden-id'
    bval = btn.getAttribute('value')
    document.getElementById(hidden_field_id).setAttribute('value', bval);
})



/* click event handler for 'zone_btn' buttons */
function zbtn_hdl(event) {
   var btn = event.target;
   hidden_field_id = btn.id + '-hidden-id'
   if (btn.classList.contains("btn-outline-primary")) {
       // select button
       btn.classList.remove("btn-outline-primary");
       btn.classList.add("btn-primary");
       // console.log("zbtn_hdl:", zone_button_dict[btn.id]);
       document.getElementById(hidden_field_id).setAttribute('value', 'on');
   } 
   else {
       // deselect button
       btn.classList.remove("btn-primary");
       btn.classList.add("btn-outline-primary");
       // console.log("zbtn_hdl:", zone_button_dict[btn.id]);
       document.getElementById(hidden_field_id).setAttribute('value', 'off');
   }
}


/* set all zone buttons */
function click_zone_set_all() {
    // console.log("zsa")
    zone_buttons.forEach(btn => {
        hidden_field_id = btn.id + '-hidden-id'
        // console.log("==>", btn)
        btn.classList.remove("btn-outline-primary");
        btn.classList.add("btn-primary");
        document.getElementById(hidden_field_id).setAttribute('value', 'on');
    })
}

/* clear all zone buttons */
function click_zone_clear_all() {
    // console.log("zca")
    zone_buttons.forEach(btn => {
        hidden_field_id = btn.id + '-hidden-id'
        btn.classList.remove("btn-primary");
        btn.classList.add("btn-outline-primary");
        document.getElementById(hidden_field_id).setAttribute('value', 'off');
    })
}




/* analog btnhdl() */
function wday_hdl(event) {
   var btn = event.target;
   hidden_field_id = btn.id + '-hidden-id'
   if (btn.classList.contains("btn-outline-primary")) {
       btn.classList.remove("btn-outline-primary");
       btn.classList.add("btn-primary");
       document.getElementById(hidden_field_id).setAttribute('value', 'on');
   } 
   else {
       btn.classList.remove("btn-primary");
       btn.classList.add("btn-outline-primary");
       document.getElementById(hidden_field_id).setAttribute('value', 'off');
   }
}



/* set all zone buttons */
function click_wday_set_all() {
    wday_buttons.forEach(btn => {
        hidden_field_id = btn.id + '-hidden-id'
        // console.log("==>", btn)
        btn.classList.remove("btn-outline-primary");
        btn.classList.add("btn-primary");
        document.getElementById(hidden_field_id).setAttribute('value', 'on');
    })
}

/* clear all zone buttons */
function click_wday_clear_all() {
    wday_buttons.forEach(btn => {
        hidden_field_id = btn.id + '-hidden-id'
        btn.classList.remove("btn-primary");
        btn.classList.add("btn-outline-primary");
        document.getElementById(hidden_field_id).setAttribute('value', 'off');
    })
}



</script>

{% endblock %}
