<!-- jobs.html -->

{% extends "base.html" %}  {% block content %}

<h1>Aufträge anzeigen/ändern/löschen</h1>

{% if jobs_form|length == 0 %}

<p>

Keine Aufträge vorhanden.

<p>

{% else %}


{% for job in jobs_form %}

<p><br>

<h2>Auftrag {{job.id}}</h2>

<br>

<table border="1" cellpadding="5" cellspacing="5">
<caption>
</caption>
<thead>

</thead>
<tbody>
<tr>
    {{ job.zones | zone(1) }}
    {{ job.zones | zone(2) }}
    {{ job.zones | zone(3) }}
    {{ job.zones | zone(4) }}
    {{ job.zones | zone(5) }}
    {{ job.zones | zone(6) }}
    {{ job.zones | zone(7) }}
</tr>

<tr>
    {{ job.date.seconds | date_time }}
</tr>

<tr>
    {{ job.duration | duration }}
    {{ job.repeat | repeat }}
    {{ job.enable | enable }}
</tr>

<tr>
    {{ job.weekdays | weekday('Mo') }}
    {{ job.weekdays | weekday('Di') }}
    {{ job.weekdays | weekday('Mi') }}
    {{ job.weekdays | weekday('Do') }}
    {{ job.weekdays | weekday('Fr') }}
    {{ job.weekdays | weekday('Sa') }}
    {{ job.weekdays | weekday('So') }}
</tr>

{{ job.except_days | except_days }}

</tbody>
<tfoot>
</tfoot>
</table>


<br>


<form id="jobs_form" action="" method="POST" novalidate>
    {{ token }}

    <!-- Go back to home -->
    <input type="submit" class="btn btn-outline-primary" name=submit value="abbrechen">

    &nbsp;&nbsp;

    <!-- run job.html to change job -->
    <input type="submit" class="btn btn-outline-primary" name=submit value="ändern">

    &nbsp;&nbsp;

    <input type="submit" class="btn btn-outline-primary" name=submit value="löschen">



    <!-- Hidden field to submit "abbrechen" or job number when job is changed -->
    <input type="hidden" id="job-hidden-id" name="job_id" value="{{job.id}}">

</form>

{% endfor %}

{% endif %}

<p><br>
<p><br>


<script>

</script>

{% endblock %}
