<!-- buttons.html -->

<!-- https://getbootstrap.com/docs/5.2/components/buttons/ -->
<!-- https://getbootstrap.com/docs/5.2/forms/checks-radios/#checkbox-toggle-buttons -->
<!-- https://stackoverflow.com/questions/26736587/how-to-add-and-remove-classes-in-javascript-without-jquery -->

{% extends "base.html" %}

{% block content %}
<h1>Manuelle Beregnung</h1>

<p><br>

<form id="pform" action="" method="POST" novalidate>
    {{ man_btns.csrf_token }}
    <!-- man_btns.hidden_tag() -->     
    <div class="form-group">
        <!-- type="button" deactivates "submit" -->
        {{ man_btns.p1(id="z1", type="button") }}
        {{ man_btns.p2(id="z2", type="button") }}
        {{ man_btns.p3(id="z3", type="button") }}
        {{ man_btns.p4(id="z4", type="button") }}
        {{ man_btns.p5(id="z5", type="button") }}
        {{ man_btns.p6(id="z6", type="button") }}
        {{ man_btns.p7(id="z7", type="button") }}
    </div>
</form>

<p><br>

☞ Identisch mit der Bedienung über Taster am Schaltschrank

<ul>
<li> Beregnungszeit {{duration}} Minuten
<li> Nur immer ein Platz möglich
<li> Vorzeitiger Abbruch durch erneutes Drücken
</ul>

<!-- https://blog.carsonevans.ca/2019/08/20/validating-ajax-requests-with-wtforms-in-flask -->
<script>

const N_ZONES = 7;

const pform = document.getElementById("pform");
const token = pform.csrf_token;

const button_array = [
    {'active': false, 'id': 'z1', 'obj': document.getElementById("z1")},
    {'active': false, 'id': 'z2', 'obj': document.getElementById("z2")},
    {'active': false, 'id': 'z3', 'obj': document.getElementById("z3")},
    {'active': false, 'id': 'z4', 'obj': document.getElementById("z4")},
    {'active': false, 'id': 'z5', 'obj': document.getElementById("z5")},
    {'active': false, 'id': 'z6', 'obj': document.getElementById("z6")},
    {'active': false, 'id': 'z7', 'obj': document.getElementById("z7")},
]

const id_to_zone = { 'z1': 1, 'z2': 2, 'z3': 3, 'z4': 4, 'z5': 5, 'z6': 6, 'z7': 7 }


for (let i = 0; i < N_ZONES; i++) {
    button_array[i].obj.addEventListener('click', zone_hdl); 
}


let active_zone = null; // active zone

// Return the zone_id (1 .. N_ZONES) of the active task or null 
function get_active_zone(task_list) {
    const n = task_list.length;
    for (let i = 0; i < n; i++) {
        if (task_list[i].datetime_started > 0) {
            return task_list[i].zone_id
        }
    }
    return null;
}


function set_button_active(act_z, butt_arr) {
    butt_arr[act_z - 1].active = true;
    butt_arr[act_z - 1].obj.classList.remove("btn-outline-primary");             
    butt_arr[act_z - 1].obj.classList.add("btn-primary");             
}

function set_button_inactive(act_z, butt_arr) {
    butt_arr[act_z - 1].active = false;
    butt_arr[act_z - 1].obj.classList.remove("btn-primary");             
    butt_arr[act_z - 1].obj.classList.add("btn-outline-primary");             
}



// https://www.scaler.com/topics/check-if-object-is-empty-javascript/
function is_obj_empty(o) {                   
   return Object.values(o).length === 0 &&   
          o.constructor === Object           
}                                            



/*
arg is one of these:
- {}   -> used to get tasks status from controller
- {'button': btn.id} -> button pressed
- {'stop': null} -> stop all running tasks
*/
async function ajax_request(arg) {
      // console.log("submit", e.submitter.id)
      // e.preventDefault();
      const settings = {
        method: 'POST',
        headers: {
            "Content-Type": 'application/json',
            "X-CSRFToken": "{{ csrf_token() }}",
        },
        body: JSON.stringify(arg)
      };

      const response = await fetch('/man_ajax', settings);

      if (response.ok) {
          const resp = await response.json();
          if (resp.status == "status_ok") {
              zone = get_active_zone(resp.task_list);
              console.log("/1/ zone:", zone, "active_zone:", active_zone)
              
              if (active_zone == null && zone != null) {
                  console.log("/2/")
                  set_button_active(zone, button_array)
                  active_zone = zone
              }
              else if ( (active_zone != null) && (zone != null) && (active_zone == zone) ) {
                  console.log("/3/")
                  // pass
              }
              else if ( (active_zone != null) && (zone != null) && (active_zone != zone)) {
                  console.log("/4/")
                  set_button_inactive(active_zone, button_array)
                  set_button_active(zone, button_array)
                  active_zone = zone
              }
              else if ( (active_zone != null) && (zone == null) ) {
                  console.log("/5/")
                  set_button_inactive(active_zone, button_array)
                  active_zone = null
              }
              else {  // zone and active_zone are null
                  console.log("/6/")
                  for (let i = 1; i <= N_ZONES; i++) {
                      set_button_inactive(i, button_array)
                  }
              }
              /*
              for (let i = 0; i < n; i++) {
                  console.log("   i:", i);
                  console.log("   z:", resp.task_list[i].zone_id);
                  console.log("   s:", resp.task_list[i].datetime_started);
                  console.log("   f:", resp.task_list[i].datetime_finished);
                  console.log("   n:", resp.task_list[i].now);
              }
              */
          } 
      } else {
          const resp = await response.json();
          console.log("response not ok: ", resp);
      }
};



// called on every button click
function zone_hdl(event) {
    var btn = event.target;
    ajax_request({"button": id_to_zone[btn.id]});
}



/* run periodically (as long as man.html is selected 
   in the browser) 
*/
function repeat_me(a) {
    // get tasks
    ajax_request({});
}


/* Run function every second. 
   Use clearInterval() to clear setInterval */
it = setInterval(repeat_me, 2000, 'dummy_arg');

</script>


{% endblock %} 
