<!-- set.html -->

{% extends "base.html" %}

{% block content %}

<h1>Einstellungen</h1>

<p><p>

<pre>
To Do

- Datum/Uhrzeit

- Beregnungsdauer manuell (5 Min)

</pre>

<script>

</script>

{% endblock %}
